/* Write your CSS here */
.main-container {
  padding: 15px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c4c4c4;
}

.card-container {
  border-radius: 18px;
  background-color: #150b3e;
  padding: 25px;
  width: 80%;
}

.name-card {
  display: flex;
}

.s-para {
  color: #7c3aed;
  background-color: #c7d2fe;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 60px;
}

.sarah-heading {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 15px;
  align-self: center;
  margin-left: 20px;
}

.balance-card {
  display: flex;
  justify-content: space-between;
}

.balance-text {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 20px;
}

.balance {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 30px;
  align-self: center;
  margin-top: 6px;
}

.rupee-text {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 13px;
}

.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 23px;
  text-align: left;
}

.sum-text {
  color: #7c3aed;
  font-family: 'Roboto';
  font-size: 15px;
}

.btns-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

@media (min-width: 768px) {
  .card-container {
    width: 30%;
  }
}
